<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Style sheet --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    {{!-- Implement Jquery --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- Implement proprietary script file  --}}
    <script src="/assets/js/script.js"></script>
    <title>Eat the Burger</title>
</head>

<body>
    {{{ body }}}
</body>

</html>