<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <content class="col-sm-8">
            <div class="row">
                <header>
                    <div id="header-col" class="col-sm-12">
                        <div class="logo">
                            <img src="/assets/images/hamburger.png" alt="hamburger" />
                        </div>
                        <h1>Eat the Burgers</h1>
                    </div>
                </header>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Burgers!</h2>
                    <div class="burger-list">
                        {{#each burgers}}
                        {{#unless devoured}}
                        <div class="burger-row">
                            <h4>{{burger_name}}</h4><button class="devour-it" data-id="{{id}}">Devour it!</button>
                        </div>
                        {{/unless}}
                        {{/each}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2>Devoured Burgers!</h2>
                    <div class="burger-list">
                        {{#each burgers}}
                        {{#if devoured}}
                        <div class="burger-row">
                            <h4>{{burger_name}}</h4><button class="delete" data-id="{{id}}">Clean up</button>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
                {{!-- Form block --}}
                <div class="col-sm-12">
                    <div class="component" id="form-block">
                        <form class="create-burger">
                            <label for="addburger">Add new burger:</label>
                            <div class="form-group">
                                <input type="text" id="burger" name="burgername">
                            </div>
                            <button type="submit">Add Burger</button>

                        </form>
                    </div>
                </div>
            </div>

        </content>

        <div class="col-sm-2">
        </div>
    </div>


</div>