<h1>Eat the Burgers</h1>

<h2>Burgers ready to be devoured!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>{{burger_name}}</li>
    <button class="devour-it" data-id="{{id}}">Devour it!</button>
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>{{burger_name}}</li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-burger">

    <div class="form-group">
        <label for="addburger">Add new burger:</label>
        <input type="text" id="burger" name="burgername">
    </div>

    <button type="submit">Add Burger</button>
</form>