/* optional custom styling */

html {
    background-color: #777d85;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

#burger {
    width: 10rem;
    height: 2rem;
}

.burger-list {
    line-height: 1.6;
}